link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
link(href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Montserrat' rel='stylesheet')
link(rel='stylesheet', href='/css/styles.css')